<!DOCTYPE html>
<html>
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
	
</script>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


<!-- Custom styles for this template -->

<link rel="stylesheet" href='/stylesheets/style.css' />
</head>
<body ng-app="tenant" style="background-size: 1300px 700px;">
	<div class="header">
		<img class="logo" src="/images/logo.png" />
	</div>
	<div id="wrapper" data-spy="scroll" data-target="#spy" class="">
		<!-- Sidebar -->
		<div id="sidebar-wrapper" >
			<nav id="spy">
				<ul class="sidebar-nav nav">
					<li class="active">
						<a href="#tenant1" id="tenant1" class="w3-border-bottom"> 
							<span>Suchishree</span> <!--Tenant 1 -->
						</a>
					</li>
					<li>
						<a href="#tenant2" class="w3-border-bottom"> 
							<span>Bhakti</span> <!--Tenant 2 -->
						</a>
					</li>
					<li>
						<a href="#tenant3" class="w3-border-bottom"> 
							<span>Huzaifa</span> <!--Tenant 3 -->
						</a>
					</li>
					<li>
						<a href="#tenant4" class="w3-border-bottom"> 
							<span>Umang</span> <!--Tenant 4 -->
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<!-- Page content -->
		<div ng-view>
		</div>
	</div>
	<div class="spinner-container" id="spinner-container">
		<div class="spinner"></div>
		<h2 class="spinner-text">FETCHING RESULT....</h2>
	</div>
</body>
<script src="/scripts/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
<script src="/scripts/ng-file-upload.min.js"></script>
<script src="/angular/tenant.js"></script>
<script src="/scripts/loader.js"></script>
</html>