<div class="container upload-view" style="margin-left: -100px;">
		<div ng-controller="myCtrl" class="col-md-5 col-md-offset-1" style="border-right: 1px solid black;">
			<img ng-src="{{output}}" width="350" height="350"><br/><br/>
			<input type="file" file-model="myFile" class="btn btn-info" style= "width:350px;"
				accept="application/x-zip-compressed" /><br/>
			<button class="btn btn-primary" ng-click="uploadFile('t2')" style= "width:350px;">upload me</button>
		</div>
		<div class="col-sm-12 col-md-4 col-md-offset-1">
			<p>Pointer: </p>
			<input type="number" ng-model="pointer_received" style="width:50px;"> / 
			<input type="number" ng-model="pointer_total" style="width:50px;">
			<br/><br/>
			<p>Comments: </p>
			<textarea rows="4" cols="41" ng-model="comments">
			</textarea>
			<button class="btn btn-primary" ng-click="submit()" style= "width:350px;">Submit</button>
		</div>
</div>
