<body>
<div class="container upload-view" style="margin-left: -100px;">
		<div ng-controller="myCtrl" class="col-md-5 col-md-offset-1" style="border-right: 1px solid black;">
			<img ng-src="{{output}}" width="350" height="350"><br/><br/>
			<input type="file" file-model="myFile" class="btn btn-info" style= "width:350px;"
				accept="application/x-zip-compressed" /><br/>
			<button class="btn btn-primary" ng-click="uploadFile('t1')" style= "width:350px;">upload me</button>
		</div>
		<div class="col-sm-12 col-md-4 col-md-offset-1">
			<p>Select Grade: </p>
			<table>
				<tr>
					<td style="width:150px;" ><input type="radio" name="grade" ng-model="grade" value="A+"> A+</td>
					<td style="width:150px;"><input type="radio" name="grade" ng-model="grade" value="A"> A</td>
					<td style="width:150px;"><input type="radio" name="grade" ng-model="grade" value="A-"> A-</td>
				</tr>
				<tr>
					<td><input type="radio" name="grade" ng-model="grade" value="B+"> B+</td>
					<td><input type="radio" name="grade" ng-model="grade" value="B"> B</td>
					<td><input type="radio" name="grade" ng-model="grade" value="B-"> B-</td>
				</tr>
				<tr>
					<td><input type="radio" name="grade" ng-model="grade" value="C"> C</td>
					<td><input type="radio" name="grade" ng-model="grade" value="D"> D</td>
					<td><input type="radio" name="grade" ng-model="grade" value="E"> E</td>
				</tr>
			</table><br/><br/>
			<p>Comments: </p>
			<textarea rows="4" cols="41" ng-model="comments">
			</textarea>
			<button class="btn btn-primary" ng-click="submit()" style= "width:350px;">Submit</button>
		</div>
</div>
